.layout--about-list{
    p{
        margin-bottom:0px;
    }
    .padding-all-sides{
        padding:20px;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:90%;
    }
    .col-left{
        padding-left:0px;
    }
    .col-right{
        padding-right:0px;
    }
    @include breakpoint(min-width $screen-lg){
        
        
    }
}