.layout--alt-hero {
  @extend .container-full;
  margin-bottom: 30px;
  max-height: 275px;
  overflow: hidden;

  img {
    width: 100%;
    position: relative;
  }

  &.dosing {
    img {
      top: -25px;
    }
  }

  &.resources {
    img {
      top: -45px;
    }
  }
}