.layout--captioned-image {
  @extend .container-md;
  background-color: $color--lt-gray;

  img {
    width: 50%;
  }

  .content {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2 * $ad-hoc-space-md;
    @include font-size(18px);
    @include line-height(24px);
    font-weight: bold;

    .open-quotes:before {
      content: "\201c";
      display: inline-block;
      color: $color--teal;
    }

    .quote {
      display: inline-block;
      width: 90%;
      vertical-align: top;
      color: $color--teal;

      &:after {
        content: "\201d";
      }
    }
  }

  .attribution {
    position: relative;
    display:block;
    left: $ad-hoc-space-sm;
    top: $ad-hoc-space-sm;
    @include font-size(11px);
    font-weight: normal;
  }

  @include breakpoint(max-width $screen-sm) {
    .content {
      padding-top: 10px;
      font-size: 18px;
      line-height: 22px;
      .attribution {
        font-size: 12px;
      }
    }
  }
  @include breakpoint(max-width $screen-xs) {
    .content {
      padding-top: 10px;
      font-size: 11px;
      line-height: 14px;
      .attribution {
        font-size: 8px;
        top: 0px;
      }
    }
  }
}