.layout--content-structure {
  @extend .container;
  @extend .row;

  >.container {

  }
  .btn {
    display: initial;
    padding:10px 20px 10px 20px;
    height: 35px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: $color--white;
    text-decoration: none;
    border-radius: 0px;
  }
  .btn-primary {
    font-size:1.5rem;
    font-family: $font-family--arial;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 14px 20px;
    color: $color--white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: $color--cadet-blue;
    &:hover{
      background-color: $color--cadet-blue;;
      color: $color--white;
    }
  }
  .primary {
    @extend .col-lg-8;
    padding-left:0px;
    padding-right: 0px;
    img {
      max-width: 80%;
    }
  }

  .secondary {
    @extend .col-lg-4;
    padding-left:0px;
    padding-right: 0px;

    .layout--note {
      margin-left: auto;
      margin-right: 0;
    }
    .layout--cta {
      align-self: flex-end;
    }
  }
  .primary-img,.secondary-container{
    @extend .col-lg-6;
    padding-left:0px;
    padding-right: 0px;
    img {
      max-width: 90%;
    }
  }
  .secondary-content{
    div{
      padding:20px;
    }
  }
  .primary-container{
      @extend .col-lg-6;
  }
  .secondary-container{
    @extend .col-lg-6;
    h2{
      margin-bottom: 0px;
    }
  }
  .secondary-1,.secondary-2{
    text-align: center;
    p{
      margin-bottom:0px;
      color: $color--black;
    }
    .strong {
      font-weight: bold;
      }
  }
  .secondary-1{
    @extend .col-xs-6;
    padding-left:0px;
  }
  .secondary-2{
    @extend .col-xs-6;
    padding-right:0px;
  }
  .table-header{
    height:50px;
  }
  .table-row{
      height:33px;
      padding: 5px;
  }
  .no-padding{
    padding-left:0px;
    padding-right: 0px;
  }
  .no-margin{
    margin:0px;
  }

  @include breakpoint(max-width $screen-sm) {
    p:last-child {
      margin-bottom: 0;
    }

    .secondary {
      padding-top: 25px;
    }
  }
  @include breakpoint (min-width $screen-lg){
    .secondary-container{
      display: table;
      height: 370px;
    }
    .secondary-content{
      display: table-cell;
      vertical-align: bottom;
      div{
        margin-top:35px;
      }
    }
   
    .secondary-1,.secondary-2{
      height:40px;
    }
  }
}