.layout--cta {
  @extend .bordered-box-bottom;
  background-color: $color--lt-blue;
  width: 295px;

  a {
    display: flex;
    flex-direction: column;
    //align-items: center;

    //padding: 20px;
  }

  img {
    max-width: 75%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    -moz-box-shadow: 0px 15px 10px rgba(68, 68, 68, 0.6);
      -webkit-box-shadow: 0px 15px 10px rgba(68, 68, 68, 0.6);
      box-shadow: 0px 15px 10px rgba(68, 68, 68, 0.6);

      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.60);
      -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.20)";
      zoom: 1;
  }


  h2 {
    @include font-size(14px);
    @include line-height(20px);
    color: $color--blue;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding:20px;
    text-align: center;
  }
  p {
    color: $color--black;
  }
  .action {
    font-size:1.5rem;
    font-family: $font-family--arial;
    @extend .bordered-box-bottom;
    padding: 14px 20px;
    color: $color--white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: $color--cadet-blue;
    &:hover{
      background-color: $color--cadet-blue;;
      color: $color--white;
    }
  }
  .group .action {
    display: none;
  }
  .heading-first {
    h2 {
      order: 0;
    }
    img {
      order: 1;
      max-width: 50%;
    }
    .action {
      order: 2;
    }
  }

  @include breakpoint(max-width $screen-lg) {
    width: 100%;
    height: auto !important;

    .cta-container {
      width: 100%;
    }

    .adapt-all {
      display: none;
    }

    .content {
      width: 100%;
      left: 0;
      vertical-align: top;
      padding: $ad-hoc-space-md !important;
    }

    &.right {
      float: none;
    }

    .heading-first {
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 45%;
      }

      .group {
        width: 50%;
        order: 2;

        .action {
          display: block;
          text-align: center;
        }
      }

      .action {
        display: none;
      }
    }
  }
}