.layout--cta-set {
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout--cta {
    margin-bottom: 15px;
  }

  @include breakpoint(max-width $screen-lg) {
    width: 100%;
  }
}