.dosing-pills{
    .col-1,.col-2,.col-3,.col-4,.col-5{
        width: 100%;
        text-align:center;
    }
    .col-2,.col-3,.col-4,.col-5{
        margin-top:30px;
    }
    h3{
        width: 210px;
        text-align: center;
    }
    .col-1,.col-3,.col-5 {
      >h3 {
        width: 240px;
      }
    }
    .col-3,.col-5{
        img{
            margin-bottom: 33px;
        }
    }
    .bordered-box-bottom{
        width:240px;
    }
    h3,.bordered-box-bottom{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding:10px;
    }
    @include breakpoint(min-width $screen-lg){
        .col-1,.col-2,.col-3,.col-4,.col-5{
            float:left;
        }
        .col-1{
            width: 20%;
        }
        .col-2{
            width: 10%
        }
        .col-3{
            width:32%;
        }
        .col-4{
            width:11%;
        }
        .col-5{
            width:21%;
        }
    }
    
}