.layout--download-cta{
    
    .download-container{
        text-align:center;
    }
    .btn-primary{
        background-color: $color--cadet-blue;
        width:200px;
        padding:10px;
        text-transform: uppercase;
        border-radius:0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    img{
        margin-top:45px;
        -webkit-box-shadow: -4px -3px 7px -1px rgba(0,0,0,0.59); 
        box-shadow: -4px -3px 7px -1px rgba(0,0,0,0.59);
        -moz-box-shadow: -4px -3px 7px -1px rgba(0,0,0,0.59);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.60);
        -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.20)";
        zoom: 1;
    }
    h3{
        //margin-top:80px;
    }
    @include breakpoint(min-width $screen-lg){
        height:320px;
        .download-container{
            width : 550px;

        }
        h3{
            width:200px;
            margin-top:60%;
            margin-bottom:20px;
        }
    }
}