.layout--expandable-image {
  position: relative;
  //background-color: $color--lt-gray;

  &:after {
    content: url('/images/misc/icon/expand-icon.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    width: 15px;
  }
  .padding-all-sides{
    padding: 40px;
  }
}