.layout--hero {
  @include container-variant(0,0);
  //position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  background-color: $color--white;
  margin: 0 auto;

  .content {
    display:block;
    position: absolute;
    top: -45px;
    left: 250px;
    width: 350px;
    height: 350px;
   // border-radius: 200px;
   // border: 7px solid $color--white;
   // background-color: $color--teal;
    padding: 2.5*$ad-hoc-space-md $ad-hoc-space-md;
    text-align: center;

    h1 {
      margin-top: 20px;
      color: $color--white;
      @include font-size-height(30px);
      font-weight: bold;
      letter-spacing: 3px;
    }

    h2 {
      color: $color--white;
      @include font-size-height(13px);
      font-weight: bold;
    }

    p {
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: $color--white;
      margin: 20px 5px;
    }
  }
  .hero-text{
    padding-top: 20px;
    padding-bottom:20px;
    width: 72%;
    text-align: center;
  }
  .tablet-text{
    background-size: 1340px;
    background-repeat: no-repeat;
    background-position: 55% 0%;
    .note{
      margin-top:220px;
    }
  }
  .note{
    width:480px;
    color: $color--black;
    //padding-top:30px;
    h1{
      color:$color--black;
      font-size:2.8rem;
      line-height:3rem;
    }
    h3{
      color: $color--xdk-gray;
      line-height: 2rem;
    }
  }
  .attribution {
    display:none;
    position: absolute;
    top: 70px;
    left: 1080px;
    width: 80px;
    color: $color--white;
    @include font-size(12px);
    @include line-height(14px);
    font-family: Montserrat;

    .name, .role {
      font-weight: bold;
      text-shadow: 0 0 6px #333333;
    }

    .role {
      font-weight: normal;
    }
  }
  .image {
    background-position: center;
    background-size: cover;
  }

  @include breakpoint(max-width $screen-lg - 1){
    .desktop.image {
      background-position-x: -80px;
      display:none;
    }
    .mobile.image{
      display: block;
      margin-top:80px;
      background-position: 70%;
    }
    .hero-text{
      padding-top:23px;
      padding-bottom:0px;
      width:65%;
      text-align:left;  
    }
    
    .note{
      width:86%;
      padding:30px 0px;
      h1{
        font-size:1.3rem;
        line-height: 1.8rem;
        margin-bottom:10px;
      }
      h2{
        font-size:1.1rem;
        line-height:1.5rem;
        margin-bottom:10px;
      }
      h3{
        font-size:1rem;
        line-height: 1.3rem;
        margin-top: 10px;
      }
    }
    .content {
      top: -75px;
      left: 20px;
      padding-top: 110px;
      width: 325px;
      height: 325px;
      border-radius: 163px;

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 18px;
        line-height: 26px;
      }

      p {
        display: none;
      }
    }
  }
  @include breakpoint(max-width $screen-xs-max){
    height:398px !important;
    
    .mobile.image{
      background-position: 70% -5px !important;
    }
    
  }
  @include breakpoint(max-width $screen-sm){
    width: 100%;
    height: 410px;

    .image {
      //top: 120px;
      position: relative;
    }

    .attribution {
      top: 210px;
      left: 75%;
      width: 72px;
    }
    .note{
      padding:10px 0px !important;
      width : 80%;
    }
    .content {
      top: -520px !important;
      left: -43% !important;
      width: 186% !important;
      height: 700px !important;
      border-radius: 50% !important;
      padding-top: 500px !important;

      h1 {
        margin-top: 30px;
      }

      h2 {
        font-size: 21px !important;
        position: relative;
        top: 5px;
      }

      .btn-white {
        margin-top: 12px;
      }
    }
  }
  @media only screen and (max-width: 340px) {
    .note{
      width : 80% !important;
    }
  }
}

.layout--hero.hero-hcp{
  .hero-text{
    width:77%;
  }
  @include breakpoint(min-width $screen-lg){
    height:670px;
    h2{
      font-size: 2.1rem;
      line-height: 3rem;
    }
  }
  @include breakpoint(max-width $screen-lg){
    .mobile.image{
      background-position: 70% -22px !important;
    }
    height: 387px !important;
    .note{
      width: 65%;
    }
  }
}
.layout--hero.hero-patient{
  .mobile.image{
    background-size: 107%;
    background-repeat: no-repeat;
  }
  @media (min-width: 767px) and (max-width: 1023px) {
    .hero-text{
      width: 450px;
    }
    .mobile.image{
      background-size: 117%;
      background-position:70% -42px;
      height: 347px;
    }
    .note{
      width: 55%;
    }
  }
  @include breakpoint(max-width $screen-md){
    .mobile.image{
      background-size: 157%;
      background-position: 71% -13px !important;
    }
    .hero-text{
      width: 60%;
    }
    .note{
      width:66%;
    }
  }
  @include breakpoint(max-width 480px){
    .mobile.image{
      background-size: 247%;
      background-position: 74% -15px !important;
    }
  }
  /*@include breakpoint(max-width $screen-lg){
    height: 407px !important;
    .note{
      width:86%;
      padding:120px 0px;
    }
  }
  @media only screen and (max-width: 340px) {
    height: 365px !important;
    .note{
      padding:100px 0px;
    }
  }
  @media (min-width: 481px) and (max-width: 1024px) {
    height: 440px !important;
    .mobile.image{
      background-image:url("/images/hero/patient-hero-mb.jpg") !important;
      background-size: 97%;
      background-position: 100% 0%;
      height: 390px !important;
    }
    .note{
      width: 46%;
      padding: 140px 0px;
    }
  }
  @include breakpoint(min-width $screen-md){
    .note{
      padding:170px 0px !important;
    }
  }
  @include breakpoint(min-width $screen-lg){
    .note{
      padding:0px !important;
    }
  }*/
}