.layout--link-bar {
  @extend .container--colored-white;
  border-bottom: 1px solid $color--lt-gray;
  max-width: $screen-xl;
  margin: 0 auto;
  position: relative;

  .navigation{
    @extend .navigation--inline;
    @extend .navigation--segmented;
    @extend .navigation--clear-poolwater;
    @include nav-variant-size($ad-hoc-space-sm 15px, $font-size--md);
    margin : 0;

    li {
      border-color: $color--lt-gray;
      a {
        color: $color--poolwater;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.external-links{
      position: absolute;
      top: 0;
      right: 0;

      li {
        border: 1px solid $color--lt-gray;
        border-top: 0;
        border-bottom: 0;

        a {
          font-weight: bold;
        }

        img {
          margin: 5px;
          width: 12px;
        }
      }
    }
  }

  @include breakpoint(max-width $screen-lg) {
    .navigation .isi, .external-links {
      display: none;
    }

    .navigation li a {
      @include font-size(8px);
      padding: $ad-hoc-space-sm / 2;
    }
  }
}