.modal-verify{
    .modal-content{
        text-align:left;
    }
    .modal-header{
        padding-left:20px;
    }
    .modal-body{
        padding-left:70px;
    }
    label{
        @extend h1;
    }
    .btn-primary{
        background-color: $color--cadet-blue;
        color: $color--white;
        border-color: $color--cadet-blue;
        width:200px;
        padding:10px;
        text-transform: uppercase;
        border-radius:0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &:hover{
            background-color: $color--cadet-blue;
            color: $color--white;
            border-color: $color--cadet-blue;
        }
    }
    @include breakpoint(max-width $screen-lg){
        label{
            font-size: 1.8rem;
            &:before{
                width:75px;
            }
            &:after{
                top:13px;
                left:6px;
            }
        }
        .modal-body{
            padding-left:60px;
        }
        .btn-primary{
            margin: 0px !important;
        }
    }
}