.page{
  margin     : 0;
  padding    : 0;
  text-align : center;
  
  & > header,
  & > section,
  & > footer{
	
	// Static width pages...
	// @include container-fixed($grid-gutter-width);
	// width : (1200px - $grid-gutter-width);
	
	// Responsive pages...
	@extend .container;
	@include for-big-desktop-up(){
		width  : ( 1200px + $grid-gutter-width );
	}
  }
  
  & > header{
	margin-top : $ad-hoc-space-md;
  }
  
  & > footer{
	margin-bottom : $ad-hoc-space-md;
  }
  
  & > section{
	text-align : left;
  }
  
  @include breakpoint(max-width ($screen-xs - 1)){
	
	& > header,
	& > footer{ margin : 0; }
  }
}