.layout--resource {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 25px;

  .image-container {
    display: inline-block;
    text-align: center;
    width: 185px;

    img {
      width: 75px;
    }
  }

  .container {
    display: inline-block;
  }

  .action {
    cursor:pointer;
    display: inline-block;
    padding: 8px 12px;
    color: $color--blue;
    &:hover{
      color: $color--white;
      background-color: $color--blue;
    }
  }

  h3 {
    font-weight: bold;
    margin-bottom: 2px;
  }

  p {
    margin-bottom: 5px;
  }

  @include breakpoint(max-width $screen-sm) {
    border-bottom: 1px solid $color--lt-gray;
  }
}