.layout--signup-cta {
  background-image: url(/images/misc/signup.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 174px;
  width: 795px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;

  .image {
    position: absolute;
  }

  .content {
    left: 40%;
    width: 57.5%;
    top: 16%;
    position: absolute;

    h2 {
      @include font-size-height(20px);
      font-weight: bold;
    }

    p {
      @include line-height(16px);
    }

    input[type=text] {
      text-align: center;
      width: 200px;
    }
  }

  @include breakpoint(max-width $screen-lg) {
    background-image: url(/images/misc/signup2.jpg);
    background-size: cover;
    width: 100%;
    height: 337px;

    .content {
      width: 40%;
      left: 58%;

      h2 {
        @include font-size(25px);
        @include line-height(30px);
      }

      input[type=text] {
        width: 185px;
      }
    }
  }

  @include breakpoint(max-width $screen-sm) {
    height: auto !important;
    background-image: none !important;
    background-color: $color--lt-gray;

    .content {
      width: 100% !important;
      top: 0;
      left: 0 !important;
      padding: $ad-hoc-space-md;
      position: relative;

      h2 {
        @include font-size(20px);
        @include line-height(25px);
        color: $color--poolwater;
      }

      input[type=text] {
        width: 55%;
      }
    }
  }

  @include breakpoint(max-width $screen-xs) {
    .content input[type=text] {
      width: 150px;
    }
  }
}