.layout--social-share {
    right: 0;
    position: fixed;
    top: 40% !important;
    bottom: auto;
    text-align: center;
    z-index: 9999999;

    .socialBtn {
        display: block;
        position: relative;
        cursor: pointer;
        width: 60px;
        height: 50px;
        padding: 0px;
        left: 10px;
        padding-right: 10px;
        text-decoration: none !important;
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: normal;
        line-height: 2em;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .facebookBtn {
        background: #4060A5;
        &:before {
            font-family: "FontAwesome";
            content: "\f09a"; 
        }
        &:hover {
            left: 0px;
            color: #4060A5;
            background: #fff;
        }
    }

    .twitterBtn {
        background: #00ABE3;
        &:before {
            font-family: "FontAwesome";
            content: "\f099";  
        }
        &:hover {
            left: 0px;
            color: #00ABE3;
            background: #fff;
        }
    }

    .emailBtn {
        background: #999999;
        &:before {
            font-family: "FontAwesome";
            content: "\f0e0"; 
        }
        &:hover {
            left: 0px;
            color: #999999;
            background: #fff;
        }
    }

    @include breakpoint(max-width $screen-sm) {
            width: 100%;
            top: inherit !important;
            bottom: 0; 

        .socialBtn {
            margin: -3px;
            display: inline-block;
            width: 33.5%;
            height: 30px;
            font-size: 20px;
            line-height: 1.5em;
            left: 0px;
        }
    }

}