/// Generic Header Mixin
///
/// @group header
@mixin header-generic() {
  outline : none;
}

/// Variant Header Mixin
///
/// @group header
/// @param {color} $color - The default color of the header
/// @param {size | sizes} $margin - The margin dimension(s) of the header
@mixin header-variant(
  $color:       map_get($header--defaults, 'color'),
  $margin:      map_get($header--defaults, 'margin')
) {
  color  : $color;
  margin : $margin;
}

/// Ruled Header Mixin
///
/// @group header
/// @param {string} $rulePosition - Positional string for the rule to appear relative to header
/// @param {size | sizes} $border - The CSS defintion for border dimension(s) of the header
/// @param {size | sizes} $padding - The padding dimension(s) of the header
/// @param {size | sizes} $margin - The margin dimension(s) of the header
@mixin header-ruled(
  $rulePosition:  map_get($header-ruled--defaults, 'position'),
  $border:        map_get($header-ruled--defaults, 'border'),
  $padding:       map_get($header-ruled--defaults, 'padding'),
  $margin:        map_get($header-ruled--defaults, 'margin')
) {
  padding-#{$rulePosition}: $padding;
  border-#{$rulePosition} : $border;
  margin-#{$rulePosition} : $margin;
}