/// Logo base mixin used to setup a logo's container
///
/// @group logo
/// @output Style for logo container with text overflow hidden and non-repeating background
@mixin logo-base() {
  @include display(inline-block);
  @include position(relative);
  background-repeat : no-repeat;
  overflow          : hidden;
  text-indent       : -100000px;
  font-size         : 0.00001em;
  
  & > a{
	@include position(absolute, 0, 0, 0, 0);
	@include display(block);
  }
}

/// Logo definition mixin
///
/// @group logo
/// @param {url} $url-1x - Path to the 1x image file
/// @param {url} $url-2x - Path to the 2x image file
/// @param {size} $width - Width of 1x image
/// @param {size} $height - Height of 1x image
/// @output Specified width / height of a logo, using Bootstrap's retina mixin to produce 2x image definitions
@mixin logo( $url-1x, $url-2x, $width, $height ) {
  @include img-retina($url-1x, $url-2x, $width, $height);
  width  : $width;
  height : $height;
}

/// Logo definition mixin for inline data encoding
///
/// @group logo
/// @param {string} $type - Type of image being inlined (eg. xml/svg, image/jpg, etc.)
/// @param {string} $encoding - What encoding the image has been inlined with (base64, etc)
/// @param {string} $data - Data string of the asset
/// @param {size} $width - Width of 1x image
/// @param {size} $height - Height of 1x image
/// @output Specified width / height of a logo, with inline image data
@mixin logo-data( $type, $encoding, $data, $width, $height ) {
  background-image : url('data:' + $type + ';'+ $encoding +',' + $data);
  width            : $width;
  height           : $height;
  background-size  : $width $height;
}

/// Logo definition mixin for proportionate scaling
///
/// @group logo
/// @param {size} $width - Width of 1x image
/// @param {size} $height - Height of 1x image
/// @param {float} $ratio - ratio of original width divided by height
/// @param {size} $widthAdjust - Specified width to scale logo (will use the ratio specified for height)
/// @output Specified width / height of a logo, scaled by a ratio
@mixin logo-scale( $width, $height, $ratio:null, $widthAdjust:1 ) {
  
  @if ($ratio != null){
	$ratioTest : $width / $height;
	width : $widthAdjust;
	
	@if ($ratioTest != 1){
	  height : calc(#{$widthAdjust} / #{$ratio});
	} @else{
	  height : $widthAdjust
	}
  }
}

/// Logo definition mixin for proportionate scaling
///
/// @group logo
/// @param {key value} $logoKey - The key for the logo map that refers to a specific logo
/// @param {key value} $scaleKey - The key for the scale map that we should return the logo dimensions for
/// @output Specified width / height of a logo, scaled by a ratio
@mixin logo-scale-by-key( $logoKey, $scaleKey: md ){
  
  $hasLogoKey: map_has_key( $logo--named-logos, $logoKey );
  $hasScale:   map_has_key( map-deep-get( $logo--named-logos, $logoKey, sizes ), $scaleKey );
  
  @if( $hasLogoKey && $hasScale ){
	@include logo-scale(
		map-deep-get( $logo--named-logos, $logoKey, dimensions, width ),
		map-deep-get( $logo--named-logos, $logoKey, dimensions, height ),
		map-deep-get( $logo--named-logos, $logoKey, dimensions, width ) / map-deep-get( $logo--named-logos, $logoKey, dimensions, height ),
		map-deep-get( $logo--named-logos, $logoKey, sizes, $scaleKey )
	);
  }
}