/// Icon color map that is used to generate flat icon color classes
/// (all layers are the same color), eg. .icon--gray or .icon--white
///
/// @group icon
$icon--flat-variant-colors: $color--palette;

$icon-size--xl: 32px;
$icon-size--lg: 24px;
$icon-size--md: 16px;
$icon-size--sm: 12px;
$icon-size--xs: 8px;