//
// @name Ad Hoc Sizing
// @description A set of classes that provide maximum inline control of box-sizing with standard sizing. Also provides screen size depenant hide / show abilities.
// @group global
// @tag ad-hoc-sizing
//
// @class <extreme>-width [min,max] - Provides max or min dimension size for width [Forceful]
// @class <extreme>-height [min,max] - Provides max or min dimension size for height [Forceful]
// @class no-<attr> [border,margin,padding] - Reduces the attribute being supported to 0 or none [Forceful]

//
// @name Ad Hoc Sizing (Padding)
// @description A set of classes that provide maximum inline control of padding
// @group global
// @tag ad-hoc-padding
//
// @class padding-<size> [xs,sm,md,lg,xl] - Adds padding to container box, can also specify specific side eg: .padding-<size>-top
// @class padding-<size>-vertical [xs,sm,md,lg,xl] - Adds padding to top / bottom of container box
// @class padding-<size>-horizontal [xs,sm,md,lg,xl] - Adds padding to top / bottom of container box
// @class padding--hide-at-<screenSize> [xs,sm,md,lg] - Hides padding at <screenSize>px or higher (widths defined via Bootstrap), can also specify specific
// @class padding--hide-below-<screenSize> [xs,sm,md,lg] - Hides padding below <screenSize>px, can also specify specific
// @class padding--show-at-<screenSize> [xs,sm,md,lg] - Shows padding at <screenSize>px or higher, can also specify specific <screenSize> eg: .padding-xs--show-at-md
// @class padding--show-below-<screenSize> [xs,sm,md,lg] - Shows padding below <screenSize>px, can also specify specific <screenSize> eg: .padding-xs--show-below-md

//
// @name Ad Hoc Sizing (Margin)
// @description A set of classes that provide maximum inline control of margin
// @group global
// @tag ad-hoc-margin
//
// @class margin-<size> [xs,sm,md,lg,xl] - Adds margin to container box, can also specify specific side eg: .margin-<size>-top
// @class margin-<size>-vertical [xs,sm,md,lg,xl] - Adds margin to top / bottom of container box
// @class margin-<size>-horizontal [xs,sm,md,lg,xl] - Adds margin to top / bottom of container box
// @class margin--hide-at-<screenSize> [xs,sm,md,lg] - Hides margin at <screenSize>px or higher (widths defined via Bootstrap), can also specify specific
// @class margin--hide-below-<screenSize> [xs,sm,md,lg] - Hides margin below <screenSize>px, can also specify specific
// @class margin--show-at-<screenSize> [xs,sm,md,lg] - Shows margin at <screenSize>px or higher, can also specify specific <screenSize> eg: .margin-xs--show-at-md
// @class margin--show-below-<screenSize> [xs,sm,md,lg] - Shows margin below <screenSize>px, can also specify specific <screenSize> eg: .margin-xs--show-below-md

//
// @name Ad Hoc Sizing (Border)
// @description A set of classes that provide maximum inline control of borders
// @group global
// @tag ad-hoc-border
//
// @class border-<size> [xs,sm,md,lg,xl] - Adds border to container box, can also specify specific side eg: .border-<size>-top
// @class border-<size>-vertical [xs,sm,md,lg,xl] - Adds border to top / bottom of container box
// @class border-<size>-horizontal [xs,sm,md,lg,xl] - Adds border to top / bottom of container box
// @class border--hide-at-<screenSize> [xs,sm,md,lg] - Hides border at <screenSize>px or higher (widths defined via Bootstrap), can also specify specific
// @class border--hide-below-<screenSize> [xs,sm,md,lg] - Hides border below <screenSize>px, can also specify specific
// @class border--show-at-<screenSize> [xs,sm,md,lg] - Shows border at <screenSize>px or higher, can also specify specific <screenSize> eg: .border-xs--show-at-md
// @class border--show-below-<screenSize> [xs,sm,md,lg] - Shows border below <screenSize>px, can also specify specific <screenSize> eg: .border-xs--show-below-md

// Max / Min width / height
.max-width{ max-width : 100% !important; width : 100% !important; }

.min-width{ min-width : 0% !important; width : 0%; }

.max-height{ max-height : 100% !important; height : 100% !important; }

.min-height{ min-height : 0% !important; height : 0% !important; }

// Margin / Padding
@each $attr in $dimensions--box-dimension-types{

  //eg: .no-padding
  .no-#{$attr}{ #{$attr}: 0px !important; }

  //eg: .padding-xs
  @each $size, $val in $dimensions--box-sizes{
	.#{$attr}-#{$size}{ #{$attr}: $val; }

	//eg: .padding-xl-vertical
	.#{$attr}-#{$size}-vertical{
	  #{$attr}-top    : $val;
	  #{$attr}-bottom : $val;
	}

	//eg: .padding-xl-horizontal
	.#{$attr}-#{$size}-horizontal{
	  #{$attr}-left  : $val;
	  #{$attr}-right : $val;
	}

	//eg: .padding-xs--hide-at-sm     -- hides xs padding at sm screen sizes
	//eg: .padding-xs--show-below-md  -- shows xs padding between xs - md screen sizes
	@each $screen-size, $screen-val in $dimensions--screen-sizes{
	  .#{$attr}--hide-at-#{$screen-size}{
		@include breakpoint($screen-val){ #{$attr}: 0 !important; }
	  }
	  .#{$attr}--hide-below-#{$screen-size}{
		@include breakpoint(max-width $screen-val - 1){ #{$attr}: 0 !important; }
	  }
	  .#{$attr}-#{$size}--show-at-#{$screen-size}{
		@include breakpoint($screen-val){ #{$attr}: $val !important; }
	  }
	  .#{$attr}-#{$size}--show-below-#{$screen-size}{
		@include breakpoint(max-width $screen-val - 1){ #{$attr}: $val !important; }
	  }
	}
  }

  // Positional Margin / Padding
  @each $pos in $dimensions--positions{

	//eg: .no-padding-top
	.no-#{$attr}-#{$pos}{ #{$attr+'-'+$pos}: 0px !important; }

	//eg: .padding-xs-top
	@each $size, $val in $dimensions--box-sizes{
	  .#{$attr}-#{$size}-#{$pos}{ #{$attr+'-'+$pos}: $val; }

	  //eg: .padding-xs-top--hidden-at-xs
	  @each $screen-size, $screen-val in $dimensions--screen-sizes{

		.#{$attr}-#{$pos}--hide-at-#{$screen-size}{
		  @include breakpoint($screen-val){ #{$attr+'-'+$pos}: 0 !important; }
		}
		.#{$attr}-#{$pos}--hide-below-#{$screen-size}{
		  @include breakpoint(max-width $screen-val - 1){ #{$attr+'-'+$pos}: 0 !important; }
		}
		.#{$attr}-#{$pos}-#{$size}--show-at-#{$screen-size}{
		  @include breakpoint($screen-val){ #{$attr+'-'+$pos}: $val !important; }
		}
		.#{$attr}-#{$pos}-#{$size}--show-below-#{$screen-size}{
		  @include breakpoint(max-width $screen-val - 1){ #{$attr+'-'+$pos}: $val !important; }
		}
	  }
	}
  }
}

// Borders
@each $attr in border{

  //eg: .no-border
  .no-#{$attr}{ #{$attr}: none !important; }
  
  //eg: .border-sm
  @each $size, $val in $dimensions--border-sizes{
	
	.#{$attr}-#{$size}{
	  #{$attr}-width : $val;
	  #{$attr}-style : solid;
	}
  
	//eg: .border-xl-vertical
	.#{$attr}-#{$size}-vertical{
	  #{$attr}-top    : $val solid;
	  #{$attr}-bottom : $val solid;
	}
  
	//eg: .border-xl-horizontal
	.#{$attr}-#{$size}-horizontal{
	  #{$attr}-left  : $val solid;
	  #{$attr}-right : $val solid;
	}

	//eg: .padding-xs--hide-at-sm     -- hides xs padding at sm screen sizes
	//eg: .padding-xs--show-below-md  -- shows xs padding between xs - md screen sizes
	@each $screen-size, $screen-val in $dimensions--screen-sizes{

	  .#{$attr}--hide-at-#{$screen-size}{
		@include breakpoint($screen-val){ #{$attr}: none !important; }
	  }
	  .#{$attr}--hide-below-#{$screen-size}{
		@include breakpoint(max-width $screen-val - 1){ #{$attr}: none !important; }
	  }
	  .#{$attr}-#{$size}--show-at-#{$screen-size}{
		@include breakpoint($screen-val){
		  #{$attr}-width : $val !important;
		  #{$attr}-width : solid;
		}
	  }
	  .#{$attr}-#{$size}--show-below-#{$screen-size}{
		@include breakpoint(max-width $screen-val - 1){
		  #{$attr}-width : $val !important;
		  #{$attr}-style : solid;
		}
	  }
	}
  }

  // Positional Borders
  @each $pos in $dimensions--positions{

	//eg: .no-border-top
	.no-#{$attr}-#{$pos}{ #{$attr+'-'+$pos}: none !important; }

	//eg: .border-sm-top
	@each $size, $val in $dimensions--border-sizes{
	  .#{$attr}-#{$size}-#{$pos}{
		#{$attr+'-'+$pos}-width : $val;
		#{$attr+'-'+$pos}-style : solid;
	  }

	  //eg: .border-xs-top--hidden-at-xs
	  @each $screen-size, $screen-val in $dimensions--screen-sizes{

		.#{$attr}-#{$pos}--hide-at-#{$screen-size}{
		  @include breakpoint($screen-val){ #{$attr+'-'+$pos}: none !important; }
		}
		.#{$attr}-#{$pos}--hide-below-#{$screen-size}{
		  @include breakpoint(max-width $screen-val - 1){ #{$attr+'-'+$pos} : none !important; }
		}
		.#{$attr}-#{$pos}-#{$size}--show-at-#{$screen-size}{
		  @include breakpoint($screen-val){
			#{$attr+'-'+$pos}-width : $val !important;
			#{$attr+'-'+$pos}-style : solid;
		  }
		}
		.#{$attr}-#{$pos}-#{$size}--show-below-#{$screen-size}{
		  @include breakpoint(max-width $screen-val - 1){
			#{$attr+'-'+$pos}-width : $val !important;
			#{$attr+'-'+$pos}-style : solid;
		  }
		}
	  }
	}
  }
}

// @name Ad Hoc Overflow
// @description A set of classes that provide generic overflow containers
// @group global
// @tag ad-hoc-overflow
//
// @class overflow-content--<axis> [x,y] - Which axis to overflow with. Sets overflow to "auto".
// @class overflow-content--<size> [sm,md,lg] - Preset percentages to set container at, width / height depends on use with axis class
@each $axis, $sizes in $ad-hoc-overflow-sizes{

  //overflow axis type
  .overflow-content--#{$axis}{
	overflow-#{$axis}: auto;
  }

  @each $size, $val in $sizes{

	//overflow axis + sizes
	.overflow-content--#{$axis}.overflow-content--#{$size}{

	  @if ($axis == x){ max-width : $val; } @else{ max-height : $val; }
	}
  }
}

// @name Ad Hoc Box Model
// @description A set of classes that provide generic box sizing
// @group global
// @tag ad-hoc-box-model
//
// @class use-<attr>-sizing [border,padding,content] - Box sizing class settings
// @class blockify - Makes a container display as block
// @class inline-blockify - Makes a container display as inline-block
@each $size in border, padding, content{
  .use-#{$size}-size{
	box-sizing: #{$size}-box;
  }
}

.blockify{
  @include blockify(inherit);
}

.inline-blockify{
  @include inline-blockify();
}

// @name Ad Hoc Positioning
// @description A set of classes that provide generic positioning types
// @group global
// @tag ad-hoc-positioning
//
// @class position--<positionType> [relative,absolute,fixed] - Specifies how the container is positioned
.position--relative{
  position : relative;
}

.position--absolute{
  position : absolute;
}

.position--fixed{
  position : fixed;
}


// @name Ad Hoc Rotation
// @description A set of classes that provide generic rotation
// @group global
// @tag ad-hoc-rotation
//
// @class rotate--<deg> [0,90,180,270] - Specifies how the container is rotated from it's natural state
@for $idx from 1 through 4{
  
  $pos:       nth((0,90,180,270), $idx);
  $rotation:  #{($idx - 1) * 90}deg;
  
  .rotate--#{$pos}{
	@include rotate( $rotation );
  }
}