// @name Typography (System)
// @description Generic type and text classes
// @group global
// @tag typography-system
//

.font--montserrat{
  font-family: $font-family--montserrat;
}
.font--merriweather{
  font-family: $font-family--merriweather;
}