ol {
    counter-reset: item;
    padding-left:0px;
}
ol li { display: block }

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}
.blue-ol{
    padding-left:0px;
    li:before{
        color: $color--sapphire-blue;
    }
}