/* HEADER ITEM TEXT
----------------------------------------------*/
#{$headers} {
    font-family: $font-family--arial;
}

/* INLINE & LINE ITEM TEXT
----------------------------------------------*/
#{$text-elements} {
    font-family: $font-family--arial;
    @extend .text--md;
}

p {
    a {
        font-family: $font-family--arial;
    }
  margin-bottom: 30px;
  word-wrap: break-word;
}

hr{
  border           : none;
  height           : 1px;
  background-color : $color--slate;
}

/* INLINE & LINE ITEM TEXT SPACING
----------------------------------------------*/
section{
  @each $el in $headers{
	p + #{$el},
	ul + #{$el},
	ol + #{$el},
	dl + #{$el},
	blockquote + #{$el}{
	  margin-top : calculateRem(30px);
	}
	
	#{$el} + p,
	#{$el} + ul,
	#{$el} + ol,
	#{$el} + dl,
	#{$el} + blockquote{
	  margin-top : calculateRem($ad-hoc-space-sm);
	}
  }
  
  @each $el in (p, ul, ol, blockquote){
	p + #{$el},
	ul + #{$el},
	ol + #{$el},
	dl + #{$el},
	blockquote + #{$el}{
	  margin-top : calculateRem($ad-hoc-space-md);
	}
  }
  
  li + li,
  dt + dt,
  dd + dd,
  dt + dd,
  dd + dt{
	margin-top : calculateRem($ad-hoc-space-sm);
  }
}

/* FORM CONTROLS
----------------------------------------------*/
textarea,
input[type="search"],
input[type="email"],
input[type="text"] {
    font-family: $font-family--arial;
    color: $default-color--text;

    &:focus {
        box-shadow: none;
    }
}
.h-10{
  height: 10px;
}

label {
    font-family: $font-family--arial;
    color: $color--tetra;
}
.clear{
  clear:both;
}
.align-right{
  @include breakpoint(min-width ($screen-lg)){
    text-align:right;
  }
}
.align-center{
  //@include breakpoint(min-width ($screen-md)){
    text-align:center;
  //}
}
.align-center-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-underline{
  text-decoration: underline;
}
.white-text{
  color: $color--white !important;
}
.black-text{
  color: $color--black !important;
}
.sapphire-text{
  color: $color--sapphire-blue !important;
}

.join {
  display: inline-block;
}