ul{
  padding-left: 17px;
}
.blue-ul{
    list-style: none;
    li{
     // padding: 7px 0px 0px 0px;
      position: relative;
    }
    >li:before{
      content: "";
      line-height: 1em;
      width: .3em;
      height: .3em;
      background-color: $color--sapphire-blue;
      float: left;
      margin: 0.7em 0.5em 0.5em -1em;
      position: absolute;
      border-radius: 50%;
    }
}
.blue-outline-ul{
  list-style: none;
  li{
   // padding: 7px 0px 0px 0px;
    position: relative;
  }
  li:before{
    content: "";
    line-height: 1em;
    width: .3em;
    height: .3em;
    list-style-type: circle;
    border: 1px solid $color--sapphire-blue;
    float: left;
    margin: 0.7em 0.5em 0.5em -1em;
    position: absolute;
    border-radius: 50%;
  }
}