.dosing-tablets{
    img{
        max-width:90%;
    }
    div{
        padding-left:0px;
        padding-right:0px;
        text-align:center;
    }
    .pill-arrow{
        margin-top:60px;
    }
    @include breakpoint(max-width $screen-lg){
        .pill-arrow{
            margin-top:0px;
            margin-bottom:20px;
            -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
            -moz-transform: rotate(90deg);        /* FF */
            -o-transform: rotate(90deg);          /* Opera */
            -ms-transform: rotate(90deg);         /* IE9 */
            transform: rotate(90deg);             /* W3C compliant browsers */
        }
    }
}