.page--subscribe {
  p {
    font-family: montserrat;
  }

  .icon-email, .benefits {
    padding-top: $ad-hoc-space-sm;
  }

  .icon-email {
    color: $color--bermuda;
    font-size: 6 * $font-size--xl;
    display: inline-block;
    vertical-align: top;
  }
  .benefits {
    display: inline-block;

    li {
      margin-bottom: $ad-hoc-space-sm;
    }
  }
  .layout--form {
    display: inline-block;
    position: relative;
    left: 2.5%;
    width: 47.5%;
    box-shadow: 2px 2px 5px rgba(79, 78, 77, 0.2);

    .heading {
      background-color: $color--teal;
      padding: $ad-hoc-space-sm $ad-hoc-space-md;
      margin-bottom: 20px;

      h2, p {
        color: $color--white;
      }
      p {
        font-family: merriweather;
      }
    }

    .body {
      padding: 0 $ad-hoc-space-md;
      padding-bottom: $ad-hoc-space-md;
    }
  }

  .container {
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .content-container {
    width: 100%;
    position: absolute;
    background-color: $color--lt-gray;
    top: $ad-hoc-space-sm;
    padding: 0 $ad-hoc-space-md;
    p {
      font-family: merriweather;
    }
  }

  .copy-container {
    padding: 0px 20px;
  }

  .layout--content {
    display: inline-block;
    width: 50%;
    float: right;

    .wrapper {
      width: 100% !important;
    }

    img {
      margin-bottom: $ad-hoc-space-md;
      width: 100%;
    }
  }

  @include breakpoint(max-width $screen-sm) {
  .layout--alt-container {
      float: none;
      display: block;
      width: 100%;
    }

    .layout--form2 {
      width: 100%;
      left: 0;
    }

    .container {
      padding: 0px;
    }

    .content-container {
      display: table-cell;
      position: relative;
      & div {
        width: 100%;
      }
    }

    .layout--form {
      display: table-header-group;
    }
  }
}