.action {
  font-family: $font-family--montserrat;

  &.paragraph {
    display: inline-block;
    margin-bottom: $ad-hoc-space-sm;
  }

  &:hover {
    sup {
      padding-bottom: 4px;
      border-bottom: 1px solid $color--poolwater;
    }
  }
}