@import "basics-icon/vars";

@each $name in $basics-icon--bg-sets{
  li.basics-nav-item {
    .basics-icon--#{$name}{
      background-image: url($path-root--images + 'misc/icon/nav/' + $name + '.svg');
    }
    &:hover {
      .basics-icon--#{$name} {
        background-image: url($path-root--images + 'misc/icon/active/' + $name + '.svg');
      }
    }
  }
}