.bordered-box {
  border: 2px solid $color--blue;
}
.bordered-box-top{
  padding:10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bordered-box-bottom{
  //padding:10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}