@import "button/vars";
@import "button/mixins";

// @name Button
// @description A standard button component element from Bootstrap. See the Bootstrap vars for primary, success, etc. values
// @group component
//
// @base .btn
// @modifier -<type> [clear,white] - Modifies button display
//
// @markup
//
// <button class="btn-default margin-md-right">Default Button</button>
//
// <a href="#" class="btn btn--clear">Clear Button</a>
//
.btn{
  @include button-generic();
  transition: none;
}

.btn-primary, .btn-info,
.btn-success, .btn-danger,
.btn-stone{
  .icon{
    @extend .icon--white;
  }
}

.btn-clear{
  @include button-variant( map_get($button-defaults, 'color'), $color--clear, $color--clear );
  
  &:hover{
    background-color : rgba($color--white, 0.02);
  }
}

.btn-white{
  @include button-variant( map_get($button-defaults, 'color'), $color--white, $color--clear );
  
  &:hover, &:active{ background-color: $color--white }

  &.has-alt:hover{
    background-color : $color--poolwater;
    color: $color--white;
    border-color: $color--white;
  }

  &.bordered {
    border: 2px solid $color--poolwater !important;
  }
}

.btn-stone{
  @include button-variant( $color--white, $color--stone, $color--clear );
}

.btn--deco-type{
  @extend .text--sm;
  @extend .font--scala-sans;
  @extend .text--uppercase;
}