//
// Process adapted from:
// http://pixelambacht.nl/2014/multicolor-icons/
//
// For help generating fonts for icons, see:
// https://icomoon.io/app
//
@import "icon/vars";
@import "icon/functions";
@import "icon/mixins";
@import "icon/extends";

//
// @name Icon
// @description A four layer font icon.
// @group component
//
// @base .icon
// @modifier --<type> [arrow, barchart, table, toggle] - Define icons with a name, based on the character it is representing
// @modifier --<size> [xs,sm,md,lg,xl] - Preset sizes to display at
// @modifier --<text-size> [xs,sm,md,lg,xl] - Preset sizes to display at, but sized to correlate with text sizes instead
// @modifier --<color> [ white, white-smoke, gray, lt-gray, xlt-gray, obsidian, slate, lt-marine, marine, dk-marine, kelly, teal, sky, burgundy, gulf-water, dk-screen, lt-screen, half-dk-screen, half-lt-screen, goldenrod, kermit, azurite, crimson] - Defines a flat color for each layer to show as
//
// @markup
// <ul class="list-inline">
// 	  <li><em class="icon icon--gray icon--xs icon--barchart"></em></li>
// 	  <li><em class="icon icon--gray icon--sm icon--barchart"></em></li>
// 	  <li><em class="icon icon--gray icon--md icon--barchart"></em></li>
// 	  <li><em class="icon icon--gray icon--lg icon--barchart"></em></li>
// 	  <li><em class="icon icon--gray icon--xl icon--barchart"></em></li>
// </ul>
// <ul class="list-inline">
// 	  <li class="text--xs"><em class="icon icon--obsidian icon-text--xs icon--table"></em> Table A</li>
// 	  <li class="text--sm"><em class="icon icon--marine icon-text--sm icon--table"></em> Table B</li>
// 	  <li class="text--md"><em class="icon icon--gulf-water icon-text--md icon--table"></em> Table C</li>
// 	  <li class="text--lg"><em class="icon icon--harvest icon-text--lg icon--table"></em> Table D</li>
// 	  <li class="text--xl"><em class="icon icon--kelly icon-text--xl icon--table"></em> Table E</li>
// </ul>
//
.icon{
  @extend %icon-base;
}

// Define icons with a name, the character it represents, and the color
@include icon( badge,     "a", $color--slate);
@include icon( bullseye,  "b", $color--slate, $color--slate);
@include icon( categories,"c", $color--slate, $color--slate, $color--slate, $color--slate);
@include icon( checkmark, "k", $color--slate);
@include icon( close,     "d", $color--slate);
@include icon( dashboard, "e", $color--slate, $color--slate, $color--slate, $color--slate);
@include icon( eye,       "m", $color--slate, $color--slate);
@include icon( gear,      "f", $color--slate);
@include icon( menu,      "g", $color--slate, $color--slate, $color--slate, $color--slate);
@include icon( reset,     "h", $color--slate);
@include icon( moon,      "o", $color--slate);
@include icon( plus,      "p", $color--slate);
@include icon( search,    "s", $color--slate);
@include icon( sliders,   "i", $color--slate, $color--slate, $color--slate, $color--slate);
@include icon( timer,     "j", $color--slate, $color--slate, $color--slate);
@include icon( trash,     "l", $color--slate);

.icon--xl{ font-size: $icon-size--xl; }
.icon--lg{ font-size: $icon-size--lg; }
.icon--md{ font-size: $icon-size--md; }
.icon--sm{ font-size: $icon-size--sm; }
.icon--xs{ font-size: $icon-size--xs; }

.icon-text--xl{  font-size:inherit; line-height:inherit;  }
.icon-text--lg{  font-size:inherit; line-height:inherit;  }
.icon-text--md{  font-size:inherit; line-height:inherit;  }
.icon-text--sm{  font-size:inherit; line-height:inherit;  }
.icon-text--xs{  font-size:inherit; line-height:inherit;  }

// NAMED FLAT COLOR VARIATIONS
@each $key, $color in $icon--flat-variant-colors {

	.icon--#{$key}{
		@include icon-variant($color,$color,$color,$color);
	}
}