@import "list/vars";
@import "list/mixins";
@import "list/extends";
//
// @name Lists
// @description Stylized list component.
// @group component
//
// @base .list
// @modifier -unstyled - Creates an unstyled list
// @modifier -triangles - Creates triangle bullets on a list
// @modifier -triangles--<size> [xs,sm,md,lg,xl] - Preset sizes to display triangles at
// @modifier -triangles--colored-<color> [white, obsidian, gray] - Defines a flat color for each layer to show as
//
// @markup
// <ul class="list-triangles list-triangles--sm">
//    <li>List Item #1</li>
//    <li>List Item #2</li>
//    <li>List Item #3</li>
// </ul>
//
.list{
  @extend %list-generic;
}

.list-unstyled{
  
  padding: 0;
  
  li{ list-style: none; }
}

.list-triangles{
  @extend .list-unstyled;
  @include list-triangles();
}
.list-triangles--xl{ @include list-triangles($font-size--xl); }
.list-triangles--lg{ @include list-triangles($font-size--lg); }
.list-triangles--md{ @include list-triangles($font-size--md); }
.list-triangles--sm{ @include list-triangles($font-size--sm); }
.list-triangles--xs{ @include list-triangles($font-size--xs); }

@each $key, $color in $list--variant-colors{

  .list-triangles--colored-#{$key}{
    li{
      &:before{
        border-top-color:$color !important;
      }
    }
  }
}