@import "nav/vars";
@import "nav/mixins";
@import "nav/extends";

//
// @name Nav / Navigation
// @description Navigation lists in different form.
// @group component
//
// @base .navigation
// @modifier --generic - Uses generic size and color scheme
// @modifier --<color> [clear-gray, cool-gray] - Specifies a color scheme with static, active, hover, and disabled states
// @modifier --<size> [xs,sm,md,lg,xl] - Specifies a preset size for the nav elements
// @modifier --justified - Makes all nav items act like a table and table cells
// @modifier --segmented - Creates pipes between link elements
// @modifier --segmented-outer - Creates pipes on outer edges of first / last link elements
//
// @modifier :hover - (a, label) Hover state
// @modifier :focus - (a, label) Focus state
// @modifier .active - (a, label) Active state
// @modifier .selected - (a, label) Active state
// @modifier .disabled - (a, label) Disabled state
// @modifier .is-<label> [active,selected,disabled] - (a, label) "Is-" form of the corresponding state
//
// @markup
// <div class="container--colored-xlt-gray padding-md">
//    <ul class="nav navigation--inline navigation--clear-gray navigation--md navigation--segmented">
//      <li class="active"><a href="#">Menu item</a></li>
//      <li><a href="#">Menu item</a></li>
//      <li><a href="#">Menu item</a></li>
//    </ul>
// </div>
//

.navigation{
  @extend .list-unstyled;
  @extend %nav-generic;
}

.navigation--generic{
  @include nav-variant-color();
}

@each $name, $values in $nav--color-sets{
  
  .navigation--#{$name}{
	@include nav-variant-color(
					map_get($values, 'link-color'),
					map_get($values, 'link-hover-color'),
					map_get($values, 'background-color'),
					map_get($values, 'background-hover-color'),
					map_get($values, 'active-color'),
					map_get($values, 'active-hover-color'),
					map_get($values, 'active-background-color'),
					map_get($values, 'active-background-hover-color'),
					map_get($values, 'deactive-color'),
					map_get($values, 'deactive-background-hover-color'),
					map_get($values, 'border-segment-color')
	);
  }
}

.navigation--xs{
  @include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-xs, $font-size--xs);
}

.navigation--sm{
  @include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-xs, $font-size--sm);
}

.navigation--md{
  @include nav-variant-size($ad-hoc-space-xs $ad-hoc-space-sm, $font-size--md);
}

.navigation--lg{
  @include nav-variant-size($ad-hoc-space-sm $ad-hoc-space-md, $font-size--lg);
}

.navigation--xl{
  @include nav-variant-size($ad-hoc-space-sm ($ad-hoc-space-md + $ad-hoc-space-sm), $font-size--xl);
}

.navigation--inline{
  display : table;
  margin  : auto;
  
  > li{
	display : table-cell;
	
	& + li{ margin : 0; }
  }
}

.navigation--wrapped{
  > li{
	> a, > label{
	  white-space : normal;
	}
  }
}

.navigation--segmented{
  
  > li + li{
	border-left-style : solid;
	border-left-width : $ad-hoc-border-sm;
  }
}

.navigation--segmented-outer{
  
  > li:last-child{
	border-right-style : solid;
	border-right-width : $ad-hoc-border-sm;
  }
  
  > li:first-child{
	border-left-style : solid;
	border-left-width : $ad-hoc-border-sm;
  }
}