@import "text-icon/vars";

@each $name, $values in $icon--sets{
  .#{$name} {
    &:after {
      content: url($path-root--images+'misc/icon/' + map_get($values, 'icon'));
      width: #{map_get($values, 'width')};
      height: #{map_get($values, 'height')};
      display: inline-block;
      position: relative;
      margin: 0 $ad-hoc-space-sm/2 0 $ad-hoc-space-sm;
      top: 0;
    }
  }

  .#{$name}:hover {
    &:after {
      content: url($path-root--images+'misc/icon/' + map_get($values, 'icon-active'));
    }
  }

  .#{$name}.static:hover {
    &:after {
      content: url($path-root--images+'misc/icon/' + map_get($values, 'icon'));
    }
  }
}

.expand.inactive {
  &:after {
    @include rotate(-90);
  }
}