/// Generic Button Component
///
/// @group button
/// @output Generic output style for button
@mixin button-generic() {
  transition : background-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor     : pointer;
  font-weight: bold;
  font-family: $font-family--arial;

  &:focus{
	outline : none !important;
  }
}

/// Button Variant
///
/// @group button
/// @param {type} $varName [defaultValue] - Description of param 1
/// @output Variant style for button
@mixin button-size-variant(
  $font-size  : map_get( $button-defaults, 'font-size' ),
  $padding    : map_get( $button-defaults, 'padding' )
) {
  font-size : $font-size;
  padding   : $padding;
}

@mixin button-color-variant(
  $bgColor     : map_get( $button-defaults, 'bgColor' ) ,
  $color       : map_get( $button-defaults, 'color' ),
  $borderColor : map_get( $button-defaults, 'borderColor' ) ) {
  
  &, &:visited{
	color            : $color;
	background-color : $bgColor;
	border-color     : $borderColor;
  }
  &:hover{
	color            : lighten($color, 5%);
	background-color : darken($bgColor, 5%);
  }
  &:active{
	background-color : darken($bgColor, 8%);
  }
}