@font-face {
  font-family: 'Blokk Neue Regular';
  src: url('#{$font-family-path--blokk}BLOKKNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('#{$font-family-path--blokk}BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-family-path--blokk}BLOKKNeue-Regular.woff') format('woff'), /* Modern Browsers */
  url('#{$font-family-path--blokk}BLOKKNeue-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('#{$font-family-path--blokk}BLOKKNeue-Regular.svg#75d26880f9e4d73b286c49a276d10a7a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}