@font-face {
	font-family: 'Merriweather';
	src: url('#{$font-family-path--merriweather}Merriweather-Bold.eot');
	src: url('#{$font-family-path--merriweather}Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path--merriweather}Merriweather-Bold.woff') format('woff'),
		url('#{$font-family-path--merriweather}Merriweather-Bold.ttf') format('truetype'),
		url('#{$font-family-path--merriweather}Merriweather-Bold.svg#Merriweather-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('#{$font-family-path--merriweather}Merriweather-Regular.eot');
	src: url('#{$font-family-path--merriweather}Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path--merriweather}Merriweather-Regular.woff') format('woff'),
		url('#{$font-family-path--merriweather}Merriweather-Regular.ttf') format('truetype'),
		url('#{$font-family-path--merriweather}Merriweather-Regular.svg#Merriweather-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}