@font-face {
	font-family: 'Montserrat';
	src: url('#{$font-family-path--montserrat}Montserrat-Bold.eot');
	src: url('#{$font-family-path--montserrat}Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path--montserrat}Montserrat-Bold.woff') format('woff'),
		url('#{$font-family-path--montserrat}Montserrat-Bold.ttf') format('truetype'),
		url('#{$font-family-path--montserrat}Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('#{$font-family-path--montserrat}Montserrat-Regular.eot');
	src: url('#{$font-family-path--montserrat}Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$font-family-path--montserrat}Montserrat-Regular.woff') format('woff'),
		url('#{$font-family-path--montserrat}Montserrat-Regular.ttf') format('truetype'),
		url('#{$font-family-path--montserrat}Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}