
// SUSY GRID SETUP / DEFINITIONS
//
// See reference:
// http://susydocs.oddbird.net/en/latest/settings/#settings


$susy: (
  columns: 12,              // The number of columns in your grid
  gutters: 1/4,             // The size of a gutter in relation to a single column
  math: fluid,              // Relative or static width elements
  gutter-position: inside,  // Gutter position

  debug: (
    image: hide,            //show | hide | show-columns | show-baseline
    color: transparentize( red, 0.65 ),
    output: background,
    toggle: top right,
  )
);